@import "colores";
@import "estilos-mobile";

body {
  padding: 0;
  margin: 0;
}

.fill-width {
  width: 100%;
  width: -webkit-fill-available;
}

// PROPIEDADES FONT EXCLUSIVAS DE ELEMENT PLUS
.ep-font-size-extra-small {
  font-size: var(--el-font-size-extra-small);
}

.ep-font-size-small {
  font-size: var(--el-font-size-small);
}

.ep-font-size-base {
  font-size: var(--el-font-size-base);
}

.ep-font-size-medium {
  font-size: var(--el-font-size-medium);
}

.ep-font-size-large {
  font-size: var(--el-font-size-large);
}

.ep-font-size-extra-large {
  font-size: var(--el-font-size-extra-large);
}

.tag-status {
  min-width: 100px;
}

.header-view {
  border-radius: 0px !important;
  margin-bottom: 20px;
  .el-card__body {
    padding-block: 10px;
  }
  .title {
    margin-bottom: 6px;
  }
}

.custom-title .el-drawer__title {
  font-size: 1.3rem !important;
}

.container-app {
  flex-basis: 0 !important;
}

.tabla-gestor {
  min-height: 200px !important;
  // width: calc(100vw - 100px) !important;
  padding-inline: 20px;
  height: calc(100vh - 190px) !important;
}

.d-center {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: center;
}

.d-end {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: flex-end;
}

.d-start {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: flex-start;
}

.cursor-pointer {
  cursor: pointer;
}

.txt-decoration-none {
  text-decoration: none;
}

.no-border {
  border: none !important;
}

.no-margin-divider {
  margin: 0 !important;
}

// *** GLOBALES *** //
// PARA TABLAS
.el-table__body-wrapper td .cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}