/* Estilos para pantallas mobile */
@media screen and (max-width: 768px) {
  .tabla-gestor-mobile {
    min-height: 200px !important;
    // width: calc(100vw - 40px) !important;
    padding-inline: 20px;
    height: calc(100vh - 190px) !important;
  }
}