@import "colores";
@import "estilos-mobile";

body {
  padding: 0;
  margin: 0;
}

.header-view {
  .title {
    margin-bottom: 6px;
  }
}

.container-app {
  flex-basis: 0 !important;
}

.tabla-gestor {
  min-height: 200px !important;
  width: calc(100vw - 100px) !important;
  height: calc(100vh - 170px) !important;
}

.d-center {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: center;
}

.d-end {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: flex-end;
}

.d-start {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: flex-start;
}

.cursor-pointer {
  cursor: pointer;
}

.txt-decoration-none {
  text-decoration: none;
}

.no-border {
  border: none !important;
}

.no-margin-divider {
  margin: 0 !important;
}